$background-color: #000;
$primary-color: #ffffff;
$active-color: #d95e61;

body, html {
  background: $background-color;
  color: $primary-color;
  overflow: hidden;
  position: fixed;
  width: 100%;
}

label {
  color: $primary-color;
  font-size: 1.3rem;

}
input {
  margin: 0 !important;
}

.wrapper {
  position:relative; //that's it
  overflow:hidden;
  height: 100%;
  width: 100%;
}

.alert-box {
  margin-top: 0;
}
